
__init__.py
__pycache__/*

.DS_Store
.eric6project/*


appLang.py


doc/*
.idea/*

desktop.ini/*


yushirui3_pyqt5.spec
yushirui4_kivy.spec

/yushirui_01_tools/*

/yushirui_10_python3/*
/yushirui_11_selenium/*
/yushirui_12_scrapy/*
/yushirui_13_大数据/*
/yushirui_14_matplotlib/*
/yushirui_15_系统管理员/*
/yushirui_16_算法/*
/yushirui_17_神经网络/*
/yushirui_18_深度学习入门/*
/yushirui_19_自然语言处理/*
/yushirui_20_opencv/*

参考/*

/yushirui_91_web_test/*
/yushirui_92_app_test/*
/yushirui_93_scrapy_project/*
/yushirui_97_sql/*

common/实验室/*
/dist/
/build/yushirui3_pyqt5/
/.idea/codeStyles/


/yushirui_98_other/*
/参考/批量修改文件.py
